<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Unraid-Notifier.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E922F2FB21B1DB2C00588BA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E922F30F21B1DB3000588BA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E922F31A21B1DB3100588BA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
